beautifulsoup4>=4.5.1
coverage>=4.3.4
coveralls>=1.1
dicttoxml>=1.7.4
feedgen>=0.5.1
Flask>=0.12
futures>=3.0.5
html5lib>=0.9999999
Jinja2>=2.9.5
lxml>=3.7.2
pymongo>=3.4.0
pytest>=3.0.6
pytest-cov>=2.4.0
requests>=2.13.0
webencodings>=0.5
