body {
  padding-top: 0px;
  font: DroidSansMono;
}

#feed{
    font-size: 1.2em;
    margin : 0em 2em 0 2em ;
    padding: -3em 0 -3em 0;
    z-index: -100000;
}

#load{
    position: relative;
    display: none;
    left: 50%;
    top: 50%;
    margin: auto;
}

p{
  font-size: medium;
}

.desc{
  font-size: 1.2em;
}

.btn-toolbar{
  margin-top: 1em;
}

.btn {
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: ghostwhite;
  display: inline-block;
  font-size: 1.4em;
  border-radius: 0.4em;
}

.search{
    margin:0.3em;
}

#tweet{
    font-size: large;
}

#desc{
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: aliceblue;
}


