html {
    height: 100%;
    box-sizing: border-box;
}

body {
    padding-top: 0px;
    font: DroidSansMono;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: Droid Sans Mono;
}

.github-fork-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.queryArea {
    min-width: 100%;
}

.custom{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.responseType {
    display: inline-flex;
}

.responseType #format {
    margin-top: 10px;
}

.engineDrop {
    /* padding: 0; */
    /* margin: 0; */
}

.engineDrop button {
    margin-bottom: 10px;
    width: 100%;
}

.qType {
	padding: 0;
    margin-right: 30px;
    margin-left: 16px;
}

.qCount {
    padding: 0;
}

.miscInfo {
    margin: 0 auto;
    display: table;
}

.typeButton {
    padding: 0px 10px 10px;
}

#submit {
    margin-top: 20px;
}

#a1 {
    cursor: pointer;
}

#search {
    padding: 0;
    margin: 0, auto;
}

#feed {
    font-size: 1.2em;
}

#feed-container {
    display: none;
}

#load {
    position: relative;
    display: none;
    left: 50%;
    top: 50%;
    margin: auto;
}

p {
    font-size: medium;
}

.jumbotron p {
    font-weight: 300;
    font-size: 1.5em;
    display: inline-block;
    box-shadow: aliceblue;
}

.btn-group-vertical {
    display: inline-flex;
}

.btn-toolbar {
    margin-top: 1em;
}

.btn {
    border: none;
    color: white;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: ghostwhite;
    display: inline-block;
    font-size: 1.4em;
    border-radius: 0.4em;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border: 1px #428bca solid;
}

.btn-outline:hover {
    color: #286090;
    background-color: rgba(0, 0, 0, 0.09);
}

.search {
    margin: 0.3em;
}

#tweet {
    font-size: large;
    color:#0084b4;
    background-color:#fff;
    border: 2px solid #0084b4;
}


#tweet:hover{
    font-size: large;
    background-color:#0084b4;
    color:#fff;
}

#fb {
    font-size: large;
    background-color:#fff;

    color:#3b5998;
    border: 2px solid #3b5998;
}


#fb:hover{
    font-size: large;
    background-color:#3b5998;
    color:#fff;
}

.panel-heading {
    font-weight: 300;
    font-size: 1.5em;
}

.panel-body {
    line-height: 25px;
    margin: 0 auto;
}

.panel-body .label {
    font-size: 1em;
}

.footer {
    bottom:0;
    width: 100%;
    height: 100px;
}


.footer .text-muted {
    margin: 20px 0;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    .github-fork-ribbon img {
        width: 120px;
    }

    h1 {
        font-size: 2.5em;
    }

    .jumbotron p {
        font-size: 1.5em;
    }

    #query {
        /* width: 90%; */
    }

    .qCount {
        padding-left: 15px;
    }

    .qCount button {
        margin-bottom: 10px;
    }

    #searchForm {
        padding: 3%;
    }
}
