<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta http-equiv="cache-control" content="public">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Content-Language" content="en, english"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/prismjs/themes/prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="description" content="query-server:Query server that stores a query string on a server.">
    <meta name="author" content="enigmaeth, @enigmaeth">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/prismjs/prism.js') }}"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>query-server &middot; FOSSASIA</title>
</head>

<body style="position: relative; margin: 0; padding-bottom: 6rem; min-height: 100%; font-family:Droid Sans Mono">
<a href="https://github.com/fossasia/query-server.git">
    <img style="position:absolute; top:0; right:0; border:0;" src="{{ url_for('static', filename='images/forkme_right_green_007200.png') }}"
         alt="Fork me on GitHub" title="loklak server source code on github">
</a>
<div class="jumbotron">
    <div class="container">
        <h1><code>query-server</code></h1>
        <span id="desc">
          Query server that stores a query string on a server.
        </span><br><br><br>
        <form class="col-sm-12 hidden-xs" id="searchForm">
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group input-group-lg">
                        <input id="query" type="text" class="center-block form-control"
                               placeholder="Search with query-server" style="min-width: 750px;">
                    </div>
                </div>
                <div class="col-sm-4" style="display: inline;">
                    <div class="btn-group" id="format" data-toggle="buttons">
                        <label class="btn btn-lg btn-primary active formatButton">
                            <input type="radio" value="json" autocomplete="off">JSON
                        </label>
                        <label class="btn btn-lg btn-primary formatButton">
                            <input type="radio" value="xml" autocomplete="off">XML
                        </label>
                    </div>
                </div>
            </div>
            <br/>
            <div class="btn-toolbar">
                <button type="submit" value="google" class="btn btn-lg btn-primary search">Google</button>
                <button type="submit" value="bing" class="btn btn-lg btn-primary search">Bing</button>
                <button type="submit" value="duckduckgo" class="btn btn-lg btn-primary search">DuckDuckGo</button>
                <button type="submit" value="yahoo" class="btn btn-lg btn-primary search">Yahoo</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <footer style="position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem; text-align: center;">
        <p>Nice? To get latest news about <code>query-server</code>, follow <a
                href="https://twitter.com/fossasia"><code>@FOSSASIA</code></a>. Help to spread the news: <a
                class="btn btn-info" id="tweet"
                href="https://twitter.com/intent/tweet?hashtags=loklak&text=%20%23query-server%20%23fossasia&tw_p=tweetbutton"
                role="button">tweet about this &raquo;</a></p>
    </footer>
</div>
<div class="pagination-centered" >
  <img id="load" src="{{ url_for('static', filename='images/ripple.gif') }}">
</div>
<pre id="feed" style="display:none;"><code class="language-xml"></code></pre>
<br/><br/>
<script>
    $(function() {
        $('.btn-toolbar > button.btn').click(function(e) {
            e.preventDefault();
            if($('#query').val()) {
                $('#load').show();
                $('#feed').hide();
                var sengine = $(this).val();
                var squery = $('#query').val();
                var sformat = $(' #format label.active input').val();
                var urlloc = window.location.href.split(/\?|#/)[0] + "api/v1/search/" + sengine + "?query=" + squery + "&format=" + sformat;
                $.ajax({
                    url: urlloc,
                    type: 'GET',
                    success: function(response) {
                        $('#load').hide();
                        if(sformat == "json")
                        {
                            $(".code").attr("class", "language-json");
                            response = JSON.stringify(response, null, 4);
                        }
                        else
                            response = new XMLSerializer().serializeToString(response);
                        $('#feed').show();
                        $('#feed').text(response);
                        Prism.highlightElement($('#feed')[0]);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            };
        });
    });
    $('.formatButton').click(function(e){
        e.preventDefault();
        if($(this).hasClass('active')){
        } else {
            $(".active").removeClass("active");
            $(this).addClass('active')
        }
    });
    $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
</script>
</body>
</html>
